# Environment Configuration
NODE_ENV='development'

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="100" # Max number of requests per window per IP

# Server, port
SERVER_PORT = 3000

# DATABASE
DATABASE_URL='postgresql://postgres:pw123456789@localhost:5432/myapp?schema=public'
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pw123456789
POSTGRES_DB=myapp
POSTGRES_PORT=5432

# CLIENT
CLIENT_URL = 'localhost:5173'

# JWT
ACCESS_TOKEN_SECRET=''
REFRESH_TOKEN_SECRET=''

# Redis
REDIS_URL='redis://localhost:6379'
REDIS_PORT=6379
